@media only screen and (min-width: 150px) and (max-width: 221px) {

	.deck {
		justify-content: center;
	}
}

@media only screen and (min-width: 222px) and (max-width: 350px) {

	.rwd-break {
		display: inline;
	}
}

@media only screen and (min-width: 351px) and (max-width: 739px) {

	.deck .card {
		height: 6rem;
		width: 6rem;
		}
}

@media (min-width: 740px) {

	.deck {
		width: 660px;
		min-height: 680px;
	}

	.deck .card {
		height: 125px;
		width: 125px;
	}
}
